.sideBar
  .sideBar__header
    .sideBar__header__accountSpace
      .sideBar__header__accountSpace__loginname
        masa
      .sideBar__header__accountSpace__iconbox
        = link_to "#" do
          = fa_icon "edit"
        = link_to "#" do
          = fa_icon "cog"
  .sideBar__content
    .sideBar__content__groupbox
      %p{class: 'sideBar__content__groupbox__groupName'} 
        techcamp
      %p{class: 'sideBar__content__groupbox__newMessage'}
        まだメッセージがありません
    .sideBar__content__groupbox
      %p{class: 'sideBar__content__groupbox__groupName'} 
        tech::expert In Namba!
      %p{class: 'sideBar__content__groupbox__newMessage'}
        まだメッセージがありません