.sideBar
  .sideBar__header
    .sideBar__header__accountSpace
      .sideBar__header__accountSpace__loginname
        masa
      .sideBar__header__accountSpace__iconbox
        = link_to "#" do
          = fa_icon "edit"
        = link_to "#" do
          = fa_icon "cog"
  .sideBar__content
    %p techcamp
    %p まだメッセージがありません