.mainChat{
  width: calc(100vw - 300px);
  background-color:#ffffff;

  &__header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 1px #eeeeee;
    display: flex; /* 子要素が横並びになる */
    justify-content: space-between; /* 子要素を均等に配置する */
    padding: 0 40px;

    &__groupname{
      height: 100%;

      &__name{
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
        padding-bottom: 15px;
      }
      &__member{
        font-size: 12px;
        color: #999999;
      }
    }

    a{
      text-decoration: none;
      color: #38aef0;
      height: 40px;
      border: solid 1px #38aef0;
      margin-top: 28px;
      font-size: 16px;
      line-height: 40px;
      padding: 0 20px;
    }
  }
  &__content {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;

    &__messageBox{
      width: 100%;
      padding-bottom: 46px;

      &__mAndT{
        display: flex;
        margin-bottom:12px;
      
        &__member{
          font-size: 16px;
          color: #333333;
        }
        &__time{
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
        }
      }

      &__message{
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  &__footer {
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    padding: 20px 40px;

    &__inputspace{
      height: 50px;
      width: 90%;
      background-color: white;
      position: relative;

      &__text{
        padding: 0 40px 0 10px;
        width: 100%;
        height: 100%;
        border: none;
      }

      &__imageBtn{
        font-size: 1.3rem;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;

        &__inputfile{
          display: none;
        }
      }
    }

    &__send{
      text-decoration: none;
      height: 50px;
      width: 100px;
      background-color: #38aef0;
      color:white;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}