@import "reset";
@import "config/colors";

/* アイコンが使える */
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper{
  display: flex;
}
header{
  width: 100%;
  height: 200px;
  background-color: gray;
}